.menuLink:after {
  content: '';
  margin-left: auto;
  min-width: 1.25rem;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>') 50% / 2rem 2rem;
  filter: none;
  height: 1.25rem;
  transform: rotate(180deg);
  width: 1.25rem;
  transition: transform 200ms linear;
}

.menucaret:after {
  transform: rotateZ(90deg);
}